@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Thai:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Thai Looped', sans-serif !important;
}

html {
  -webkit-overflow-scrolling: touch;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  transition: all 9000s ease-in-out 0s;
  -webkit-text-fill-color: inherit !important;
}

/* ::-webkit-scrollbar {
  width: 10px;
  border-radius: 12px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #7979791d;
  border-radius: 2px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: #8888888c;
  border-radius: 4px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background-color: #55555585;
} */
